{% extends "base.html" %}

{% block title %}
    Home    
{% endblock title %}

{% block content %}
<header>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h1>Enlaza tus perfiles:</h1>
			 <form name="form" method="post" action="/">{% csrf_token %}
				<div class="form-group">
					<label for="id_github">Github</label>
					<input type="url" class="form-control" name="github" id="id_github" placeholder="github" value="{{github}}">
				</div>
				<div class="form-group">
					<label for="id_linkedin">Linkedin</label>
					<input type="url" class="form-control" name="linkedin" id="id_linkedin" placeholder="linkedin" value="{{linkedin}}">
				</div>
				<div class="form-group">
					<label for="id_bitbucket">Bitbucket</label>
					<input type="url" class="form-control" name="bitbucket" id="id_bitbucket" placeholder="bitbucket" value="{{bitbucket}}">
				</div>
				<div class="form-group">
					<label for="id_twitter">Twitter</label>
					<input type="url" class="form-control" name="twitter" id="id_twitter" placeholder="twitter" value="{{twitter}}">
				</div>           
				<button type="submit" class="btn btn-primary">Enlazar</button>
			  </form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
</header>
{% endblock content %}
