{% extends "base.html" %}

{% block title %}
    Home    
{% endblock title %}

{% block content %}
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-9">
			DATOS DEL PERFIL QUE EN ESTE MOMENTO NO ME IMPORTA 
            <div>
              <h1>{{ developer.user.first_name}}&nbsp;{{ developer.user.last_name}}</h1>
              {{ developer.user.username }}  
              {{ develoter.telefono }}
              {{ developer.perfil_github }}
              {{ developer.perfil_linkedin }}
              {{ developer.perfil_bitbucked }}
              {{ developer.perfil_twitter }}
            </div>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-block">Subir CV</button>
			<a href="/perfil/cuentas">
				<button type="button" class="btn btn-primary btn-block">Enlazar Perfiles</button>
			</a>
			<button type="button" class="btn btn-primary btn-block">Editar info personal</button>
		</div>	
	</div>

</div>
{% endblock content %}
